//- HOME / LANDING PAGE
- var svg_attributes = { "preserveAspectRatio": "xMidYMid meet", "version": "1.1", "xmlns": "http://www.w3.org/2000/svg" };
- var logo_a_attributes = { "d": "M65.5,2.5V11A42,42,0,0,1,50,92H47.5V13.1A37,37,0,0,0,21.3,73.3L27,67.6A28.7,28.7,0,0,1,21.3,54H39.5V98.9a50,50,0,0,0,26-96.4ZM21.3,46A29,29,0,0,1,39.5,23V46Z" };
- var logo_h_attributes = { "d": "M87,50A37,37,0,0,1,68.5,82V72.3A28.9,28.9,0,0,0,78.7,54H60.5V85.5a36.4,36.4,0,0,1-8,1.4V8.1H50A42,42,0,0,0,34.5,89v8.5a50,50,0,0,1,26-96.4V46H78.7A28.9,28.9,0,0,0,68.5,27.7V18A37,37,0,0,1,87,50Z" };
- var links = [{ "name": "LinkedIn","label": "resume","url": "http://www.linkedin.com","class": "","icon": "fa-linkedin-square"},{"name": "Email","label": "email","url": "mailto:adamunit13@gmail.com","class": "","icon": "fa-envelope-square"},{"name": "Phone","label": "phone","url": "tel:1-555-555-1212","class": "","icon": "fa-phone-square" }];
- var link_attributes = { "role": "menuitem", "charset": "utf-8", "hreflang": "en", "rel": "noreferrer nofollow", "type": "text/html" };
section(data-bind="attr: { class: componentID }, fxIntro")
	article.content-body.brand-group(role="group")
		figure.logo-group(aria-label="ACH Brand Logo", role="group")
			svg.logo(viewBox="0 0 100 100")&attributes(svg_attributes)
				title Adam Hill - Brand Logo
				path/.logo-path-a()&attributes(logo_a_attributes)
				path/.logo-path-h()&attributes(logo_h_attributes)
		.text-group(aria-label="ACH Display Name and Tagline", role="group")
			.text-name
				span.firstname Adam
				span.lastname Hill
			.text-tagline
				span Experienced 
				span Professional 
				span Carpenter
	nav.content-nav.bottom-responsive.links-group(role="group")
		ul.list-inline.links-list(role="menu")
			// ko foreach: contactMethods 
			li.list-item-container(role="presentation")
				a.list-item(data-bind="click: $parent.showModal")
					i.fa.fa-fw(data-bind="css: icon")
					span(data-bind="text: label")
			// /ko 
.modal.fade(tab-index="-1", role="dialog", data-bind="modal: { options: { backdrop: 'static' }, visible: modalVisible }")